services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    depends_on:
      - redis
    extra_hosts:
      - "host.docker.internal:host-gateway"

  worker:
    build: .
    volumes:
      - .:/app
    env_file:
      - .env
    command: celery -A app.services.celery_worker.celery_app worker --loglevel=info
    depends_on:
      - redis
    extra_hosts:
      - "host.docker.internal:host-gateway"

  beat:
    build: .
    volumes:
      - .:/app
    env_file:
      - .env
    command: celery -A app.services.celery_worker.celery_app beat -l info
    depends_on:
      - redis
    extra_hosts:
      - "host.docker.internal:host-gateway"